/* :root {
    --darkest: #2f3e46;
    --dark: #354f52;
    --medium: #52796f;
    --light: #84a98c;
    --lightest: #cad2c5;
} */

/* :root {
    --darkest: #fff;
    --dark: #b2c9ab;
    --medium: #666a86;
    --light: #666a86;
    --lightest: #666a86;
} */

:root {
    --darkest: #fff;
    --dark: #eee;
    --medium: #0D3B66;
    --light: #0D3B66;
    --lightest: #000;
}

body,
html {
    /* background-color: #354f52; */
    background-color: var(--dark);
    margin: 0px;
    padding: 0px;
    /* color: #cad2c5; */
    color: var(--lightest);
    Font-Family: 'Open Sans', Sans-Serif;
    Font-Size: 16px;
    overflow: auto;
}

main {
    display: block;
    margin-right: 10vh;
    margin-left: 10vh;
    margin-top: 49vh;
    margin-bottom: 10vh;
    height: 1vh;
    border: 10px solid var(--dark);
    box-sizing: border-box;
    /* background-color: #2f3e46; */
    /* background-color: var(--darkest); */
    padding-left: 10px;
    padding-right: 10px;
    overflow-y: hidden;
    background: var(--darkest);
    background: linear-gradient(197deg, var(--darkest) 0%, var(--dark) 100%);
}



nav {
    display: flex;
    flex-direction: row;
}

nav>div {
    font-size: 1.4rem;
    display: block;
    text-align: center;
    margin: 0px;
    padding: 0px;
    flex-grow: 1;
    border-bottom: 1px solid var(--medium);
    height: 0px;
    font-weight: 100;
    Font-Family: 'Work Sans', Sans-Serif;
    overflow: hidden;
}




nav>div i {
    display: block;
    font-size: 1.4rem;
    color: var(--lightest);
}

h1,
h2 {
    display: block;
    font-weight: 100;
    Font-Family: 'Work Sans', Sans-Serif;
    /* color: var(--medium); */

}

h1 {
    /* display: inline-block; */
    line-height: 1;
    margin: 0px;
    letter-spacing: -10px;
    font-size: 15rem;
    text-align: center;
    color: var(--light);
    border-bottom: 1px solid var(--dark);
}

h2 {
    background-color: var(--dark);
    color: var(--lightest);
    padding: 5px;
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
}

h3,
h4,
h5 {
    display: block;
    line-height: 1.4;
    Font-Family: 'Open Sans', Sans-Serif;
}

p {
    Font-Family: 'Open Sans', Sans-Serif;
    Font-Size: 16px;
    display: block;
    text-align: center;
    line-height: 1.2;
    border-bottom: 1px solid var(--dark);
    padding-bottom: 10px;
    margin-bottom: 15px;
}

.primary-divide {
    margin-top: 100vh;
    display: inline-block;
    width: 34%;
    vertical-align: top;
}

.primary-divide>i {
    display: block;
    text-align: center;
    font-size: 10rem;
    color: var(--dark);
}

.primary-content-container {
    min-height: 150vh;
    /* background-color: var(--medium); */
}

#pre-click {
    cursor: pointer;
    margin-top: 40vh;
    text-align: center;
    display: block;
    font-size: 6rem;
    color: var(--light);
    overflow: hidden;
}

#pre-click:hover {
    color: var(--lightest);
}

section {
    height: 90vh;
    overflow-y: hidden;
    overflow-x: hidden;
    box-sizing: border-box;
    flex: 0 0 auto;
}

#splash {
    display: inline-block;
    min-height: 90vh;
    width: 100%;
    overflow-x: hidden;
}

#about {
    display: none;
    display: inline-block;
    min-height: 90vh;
    width: 100%;
    overflow-x: hidden;
}

#portfolio {
    display: none;
    display: inline-block;
    min-height: 90vh;
    width: 100%;
    overflow-x: hidden;
}

#blog {
    display: none;
    display: inline-block;
    min-height: 90vh;
    width: 100%;
    overflow-x: hidden;
}

#contact {
    display: none;
    display: inline-block;
    min-height: 90vh;
    width: 100%;
    overflow-x: hidden;
}

#primary-content-wrapper {
    overflow-x: hidden;
    display: flex;
    flex-direction: row;
}


@media only screen and (max-width: 1024px) {
    section >div {
        padding: 5px;
    }
    nav>div span {
        display: none;
    }
    .primary-divide {
        width: 100%;
    }
    h1 {
        font-size: 8rem;
    }
}


/* width */
::-webkit-scrollbar {
    width: 1px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--medium);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--lightest);
  }