pre {
    border-top: #2f3e46 #354f52 #52796f #84a98c #cad2c5;
}

body, html {
    background-color: #354f52;
    margin: 0px;
    padding: 0px;
    color: #cad2c5;
    Font-Family: 'Open Sans', Sans-Serif;
    Font-Size: 16px;
}

main {
    display: block;
    margin-right: 10vh;
    margin-left: 10vh;
    margin-top: 49vh;
    margin-bottom: 10vh;
    height: 1vh;
    background-color: #2f3e46;
    padding-left: 10px;
    padding-right: 10px;
    overflow: hidden;
    /* border-radius: 10px; */
}

nav {
    display: flex;
    flex-direction: row;
}

nav > span {
    text-align: center;
    margin: 0px;
    padding: 0px;
    flex-grow: 1;
    border-bottom: 1px solid #52796f;
    height: 0px;
    overflow: hidden;
}

h1,
h2 {
    display: block;
    font-weight: 100;
    Font-Family: 'Work Sans', Sans-Serif;
    color: #52796f;
}

h1 {
    display: inline-block;
    line-height: 1;
    margin: 0px;
    letter-spacing: -10px;
    font-size: 16rem;
    color: #84a98c;
    border-bottom: 1px solid #354f52;
}

h2 {
    font-size: 38px;
}

h3,
h4,
h5 {
    display: block;
    line-height: 1.4;
    Font-Family: 'Open Sans', Sans-Serif;
}

p {
    Font-Family: 'Open Sans', Sans-Serif;
    Font-Size: 16px;
    display: block;
    line-height: 1.2;
    border-bottom: 1px solid #354f52;
    padding-bottom: 30px;
    margin-bottom: 30px;
}

.primary-divide {
    margin-top: 100vh;
    display: inline-block;
    width: 50%;
    vertical-align: top;
}

.primary-divide > i {
    display: block;
    text-align: center;
    color: #354f52;
}

.the-notch {
    text-emphasis: center;
    width: 0%;
    display: inline-block;
    vertical-align: top;
    opacity: 0.5;
}

.the-notch > i {
    padding: 70px;
    font-size: 30rem;
    color: #354f52;
}

